albumentations
fastapi
opencv-python-headless
numpy
Pillow
requests
scikit-learn
PyYAML
wandb
matplotlib
seaborn
optuna
torch
torchvision
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
python-dotenv
langchain-groq
langchain-core
sentence-transformers
langchain-chroma
rank-bm25